[submodule "external/alphatwirl"]
	path = external/alphatwirl
	url = git@github.com:alphatwirl/alphatwirl.git
[submodule "external/atcmsedm"]
	path = external/atcmsedm
	url = git@github.com:alphatwirl/atcmsedm.git
[submodule "external/atnanoaod"]
	path = external/atnanoaod
	url = git@github.com:alphatwirl/atnanoaod.git
